div.user-page {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
          "profile userfeed";

  div.header {
    grid-area: header;
  }

  div.profile {
    grid-area: profile;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.21);

    padding: 10px;

    img {
      width: 200px;
      height: 200px;
      border: 1px solid #000;
      display: block;
      margin: 10px 20px;
    }

    h2 {

    }

    form {
      display: flex;
      flex-direction: column;
      // align-items: flex-start;
      padding: 10px;

      & > label {
        display: flex;
        flex-direction: row;

        span {
          margin-right: 10px;
          flex-grow: 0;
          flex-shrink: 0;
        }

        input {
          flex-grow: 1;
        }

        margin: 0 0 10px 0;
      }

      & > button {
        align-self: flex-start;
      }
    }

    div.errors {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      padding: 5px;

      p {
        color: red;
        background: rgba(255, 0, 0, 0.05);
        border: 1px solid rgba(255, 0, 0, 0.15);
        padding: 5px;
        margin: 5px 0 0 0;
        border-radius: 5px;
      }
    }

    button.send-message {
      border: none;
      background: none;
      color: blue;
      text-decoration: underline;
      cursor: pointer;
      margin-top: 5px;
      text-align: left;
    }

    form.rating {
      margin-top: 30px;
    }

    div.data {
      align-self: left;
      margin: 10px 20px;

      span {
        font-weight: bold;
      }
    }

    div.feedbacks {

      margin-top: 30px;

      h2 {
        font-size: 1rem;
      }

      ul li {
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #000;
      }
    }
  }

  div.userfeed {
    grid-area: userfeed;
    padding: 10px;

    h2 {
      margin: 0 0 10px 0;
    }

    ul li {
      margin: 0 0 10px 0;
    }
  }
}
