div.login-page {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
          "login register";

  div.header {
    grid-area: header;

    h1 {
      text-align: center;
    }
  }

  div.login {
    grid-area: login;
    border-right: 1px solid #000;

  }

  div.register {
    grid-area: register;

    form {
      label {
        text-align: left;
      }
    }
  }

  div.login, div.register {
    margin: 10px;
    padding: 10px;

    h2 {
      margin: 0 0 20px 0;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;

      &> * {
        margin: 5px;
      }

      input[type="text"], input[type="password"] {
        padding: 5px;
      }

      label {
        display: flex;
        flex-direction: column;
      }

      button {
        align-self: flex-end;

        &:disabled {
          opacity: 0.5;
        }
      }

      div.errors {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding: 5px;

        p {
          color: red;
          background: rgba(255, 0, 0, 0.05);
          border: 1px solid rgba(255, 0, 0, 0.15);
          padding: 5px;
          margin: 5px 0 0 0;
          border-radius: 5px;
        }
      }
    }
  }
}

input:-webkit-autofill {
  background: rgb(250, 255, 189);
  border: 1px solid rgba(0, 0, 0, 0.38);
}