div.messages-page {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
          "left right";

  div.left {
    grid-area: left;
  }

  div.right {
    grid-area: right;
  }

  div.left {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #000;

    ul.conservations li {
      display: grid;
      grid-template-columns: min-content auto;
      grid-template-rows: min-content min-content;
      grid-template-areas:
              "image name"
              "image last-message";

      padding: 16px;
      border-bottom: 1px solid #000;

      &:hover {
        background: #e9e9e9;
      }

      &.selected {
        background: #e1e1e1;
      }

      img {
        grid-area: image;
        width: 48px;
        height: 48px;
        border: 1px solid #000;
        display: block;
        margin-right: 8px;
      }

      div.name {
        grid-area: name;
        font-size: 1.0rem;
      }

      div.last-message {
        grid-area: last-message;
        font-size: 0.8rem;
      }
    }
  }

  ul.messages {
    display: flex;
    flex-direction: column;

    li {
      border: 1px solid #000;
      border-radius: 8px;
      padding: 8px;
      max-width: 80%;
      margin: 8px 8px 0 8px;
    }

    li.sent {
      align-self: flex-end;
      background: #ebebeb;
    }

    li.received {
      align-self: flex-start;
    }
  }
}