div.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: min-content auto;
  grid-template-areas:
          "header header"
          "search content";

  div.header {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-areas: "title nav gap user";
    align-items: baseline;
    grid-area: header;
    height: 50px;
    border-bottom: 1px solid #000;

    h1 {
      grid-area: title;
    }

    div.nav {
      grid-area: nav;

      a + a:before {
        content: "|";
        padding: 0 10px;
      }
    }

    div.user {
      grid-area: user;

      a + a:before {
        content: "|";
        padding: 0 10px;
      }
    }
  }

  div.search {
    width: 200px;

    display: flex;
    flex-direction: column;
    grid-area: search;

    border-right: 1px solid #000;

    input#search-text {
    }

    fieldset {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 10px;
      border: none;

      legend {

      }
    }
  }

  div.content {
    ul li {
      margin: 10px;
      border: 1px solid #000;
      padding: 10px;
    }
  }
}
