* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

textarea {
  resize: none;
}

button {
  padding: 5px;
  border: 1px solid #000;
  background: none;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  &:active {
    background: rgba(0, 0, 0, 0.2);
  }

  &.happy {
    background: #A5D6A7;

    &:hover {
      background: #81C784;
    }

    &:active {
      background: #66BB6A;
    }
  }
}

div.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
          "header"
          "content"
          "footer";

  & > div.header {
    grid-area: header;
  }

  & > div.content {
    grid-area: content;
    overflow: auto;
    display: flex;
    flex-direction: column;

    > * {
      flex-grow: 1;
    }
  }
}