div.header {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-areas: "title nav gap user";
  align-items: baseline;
  grid-area: header;
  height: 50px;
  border-bottom: 1px solid #000;



  ul.links {
    display: flex;
    flex-direction: row;

    li:not(:first-child):before {
      content: "|";
      margin: 0 5px;
    }
  }

  h1 {
    grid-area: title;
  }

  div.nav {
    grid-area: nav;
  }

  div.user {
    grid-area: user;
  }
}